.module {
  padding-top: 30px;
}
.title-module {
  margin-bottom: 30px;
  .cn-title {
    font-size: 32px;
  }
  .en-title {
    font-size: 16px;
  }
  .bg-text {
    font-size: 70px;
  }
}
.banner-container {
  .banner-item {
    .text {
      width: calc(100% - 240px);
      .title {
        .circle {
          width: 80px;
          height: 80px;
          left: -20px;
        }
        span {
          font-size: 24px;
          margin-right: 0;
        }
        p {
          display: inline;
          font-size: 48px;
        }
      }
      .cn-text {
        font-size: 14px;
      }
      .en-text {
        font-size: 12px;
      }
    }
  }
  .bottom-text {
    height: 68px;
    .bottom-text-list {
      .bottom-text-item {
        margin-right: 20px;
      }
    }
  }
}
.about-container {
  padding-bottom: 30px;
  .about-box {
    .about-cont {
      margin-bottom: 30px;
      .text {
        width: calc(55% - 20px);
        .title {
          font-size: 18px;
        }
        .desc {
          font-size: 14px;
        }
        .more {
          .flex();
          width: 32px;
          height: 32px;
          .iconfont {
            font-size: 16px;
          }
        }
      }
    }
    .about-list {
      .about-item {
        margin: 0 5px;
        width: calc((100% - 10px * 2) / 3);
        padding: 20px;
        .title {
          font-size: 16px;
          margin-bottom: 6px;
        }
        .desc {
          font-size: 14px;
        }
      }
    }
  }
}
.award-container {
  padding-bottom: 30px;
  .award-cont {
    .flex(space-between,flex-start);
    .left-layout {
      width: 400px;

      .news-list {
        .news-item {
          padding: 5px 0;
          font-size: 26px;
          color: #fff;
          opacity: 0.7;
          .flex(flex-start,flex-start);
          i {
            width: 16px;
            height: 16px;
            margin: 0;
          }
          span {
            display: block;
            width: calc(100% - 20px);
            margin-left: 5px;
          }
          a {
            font-size: 12px;
          }
          .news-title-item {
            padding: 15px;
            .title-box {
              padding-bottom: 7px;
              margin-bottom: 13px;
              border-bottom: 1px solid #fd8888;
              .cn-title {
                font-size: 18px;
                font-weight: bold;
              }
              .en-title {
                font-size: 14px;
              }
            }
            .cont {
              font-size: 14px;
              .clamp(6);
            }
          }
        }
      }
    }
    .right-layout {
      width: calc(100% - 400px - 15px);
    }
  }
}
.news-container {
  padding: 30px 70px;
  .news-content {
    .news-button-prev,
    .news-button-next {
      bottom: calc(50% - 75px);
      width: 36px;
      height: 36px;
    }
    .news-button-prev {
      left: -50px;
    }
    .news-button-next {
      right: -50px;
    }
    .news-swiper {
      padding-top: 60px;
    }
    .news-item {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      .title-box {
        padding: 30px 15px 15px;
        height: 90px;
        margin-bottom: 15px;
        .title {
          font-size: 15px;
        }
      }
      .cont-box {
        padding: 0 15px 15px 15px;
        .date {
          font-size: 14px;
        }
        .text {
          font-size: 16px;
          margin-bottom: 10px;
        }
        .more {
          width: 24px;
          height: 24px;
          .iconfont {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.partner-container {
  padding: 50px 70px;
  .title-module {
    margin-bottom: 30px;
  }
  .partner-box {
    position: relative;
    .partner-item {
      .img {
        margin-bottom: 10px;
      }
      p {
        font-size: 17px;
      }
    }
  }
}
