<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="banner-swiper swiper-container">
        <ul class="banner-list swiper-wrapper">
          <li class="banner-item swiper-slide">
            <a href="">
              <div class="text">
                <div class="title">
                  <div class="circle"></div>
                  <span>我们</span>
                  <p>创造|实现|成就</p>
                </div>
                <div class="cn-text">
                  吉隆坡| 中国香港 | 美国科罗拉多| 印度尼西亚
                </div>
                <div class="en-text">
                  Kuala Lumpur | Hong Kong, China | Colorado, U.S| Indonesia
                </div>
              </div>
              <div class="img">
                <img src="/public/home/banner.jpg" alt="">
              </div>
            </a>
          </li>
          <li class="banner-item swiper-slide">
            <a href="">
              <div class="text">
                <div class="title">
                  <div class="circle"></div>
                  <span>我们</span>
                  <p>创造|实现|成就</p>
                </div>
                <div class="cn-text">
                  吉隆坡| 中国香港 | 美国科罗拉多| 印度尼西亚
                </div>
                <div class="en-text">
                  Kuala Lumpur | Hong Kong, China | Colorado, U.S| Indonesia
                </div>
              </div>
              <div class="img">
                <img src="/public/home/banner.jpg" alt="">
              </div>
            </a>
          </li>
          <li class="banner-item swiper-slide">
            <a href="">
              <div class="text">
                <div class="title">
                  <div class="circle"></div>
                  <span>我们</span>
                  <p>创造|实现|成就</p>
                </div>
                <div class="cn-text">
                  吉隆坡| 中国香港 | 美国科罗拉多| 印度尼西亚
                </div>
                <div class="en-text">
                  Kuala Lumpur | Hong Kong, China | Colorado, U.S| Indonesia
                </div>
              </div>
              <div class="img">
                <img src="/public/home/banner.jpg" alt="">
              </div>
            </a>
          </li>
          <li class="banner-item swiper-slide">
            <a href="">
              <div class="text">
                <div class="title">
                  <div class="circle"></div>
                  <span>我们</span>
                  <p>创造|实现|成就</p>
                </div>
                <div class="cn-text">
                  吉隆坡| 中国香港 | 美国科罗拉多| 印度尼西亚
                </div>
                <div class="en-text">
                  Kuala Lumpur | Hong Kong, China | Colorado, U.S| Indonesia
                </div>
              </div>
              <div class="img">
                <img src="/public/home/banner.jpg" alt="">
              </div>
            </a>
          </li>
          <li class="banner-item swiper-slide">
            <a href="">
              <div class="text">
                <div class="title">
                  <div class="circle"></div>
                  <span>我们</span>
                  <p>创造|实现|成就</p>
                </div>
                <div class="cn-text">
                  吉隆坡| 中国香港 | 美国科罗拉多| 印度尼西亚
                </div>
                <div class="en-text">
                  Kuala Lumpur | Hong Kong, China | Colorado, U.S| Indonesia
                </div>
              </div>
              <div class="img">
                <img src="/public/home/banner.jpg" alt="">
              </div>
            </a>
          </li>

        </ul>
        <div class="swiper-pagination banner-pagination"></div>
        <div class="swiper-button-prev banner-button-prev"></div>
        <div class="swiper-button-next banner-button-next"></div>
      </div>
      <div class="bottom-text">
        <ul class="bottom-text-list">
          <li class="bottom-text-item">
            RISING CAPITAL SDN. BHD<br>
            (f.k.a ICE AGENCY SDN. BHD) 201701037618 (1251789-T)
          </li>
          <li class="bottom-text-item">
            officer@rising.com.my<br>
            +603-8682 1802
          </li>
        </ul>
      </div>
    </section>
    <section class="about-container module">
      <div class="about-box max-center">
        <div class="title-module">
          <div class="cn-title">
            <span>关于</span>睿信
          </div>
          <div class="en-title">About<br>RISING</div>
        </div>
        <div class="about-cont">
          <div class="img">
            <img src="/public/home/about.png" alt="">
          </div>
          <div class="text">
            <div class="title">睿信资本</div>
            <div class="desc">
              睿信资本总部位于马来西亚雪兰莪州，是一家以投资国际教育、移民、餐饮、艺术、软件科技等行业的跨国资本集团，现已在马来西亚、中国香港、印度尼西亚、美国科罗拉多州等地区投资
              移民留学公司、华语培训学校、大学学院、美术馆、高端咖啡厅、贸易公司、非盈利基金会（社会服务）等机构数十间。
            </div>
            <a href="about.html" class="more">
              <i class="iconfont icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <ul class="about-list">
          <li class="about-item">
            <div class="title">创造高价值的商业市场</div>
            <div class="desc">通过发掘全新的价值创造方式，新的商业模式能持续不断对人们的生活和工作方式产生影响。</div>
          </li>
          <li class="about-item">
            <div class="title">实现多样化的商业模式</div>
            <div class="desc">多样化和包容型是睿信资本的发展宗旨，包容一切可能性发展开展多样化商业模式让睿信资本产生更大多的市场价值</div>
          </li>
          <li class="about-item">
            <div class="title">成就多个领域经营价值</div>
            <div class="desc">通过多样性来提升创新能力和韧性成就下一个睿信资本更好的十年。</div>
          </li>
        </ul>
      </div>
    </section>
    <section class="award-container module" style="background-image: url(/public/home/bg-award.jpg);">
      <div class="award-box max-center">
        <div class="title-module">
          <div class="cn-title white">
            睿信<span>奖项</span>
          </div>
          <div class="en-title">Award RISING</div>
        </div>
        <div class="award-cont">
          <div class="left-layout">
            <ul class="news-list">
              <li class="news-item hide">
                <a href="news_view.html">
                  <i></i>
                  <span>BEST INTELLIGENT FIGURES 2021</span>
                </a>
                <a href="news_view.html" class="news-title-item">
                    <div class="title-box">
                      <div class="cn-title">最优消费者选择奖</div>
                      <div class="en-title">NEW CONCEPT EDUCARE SDN. BHD MALAYSIA CONSUMER'S CHOICE AWARDS</div>
                    </div>
                    <div class="cont">
                      奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，
                    </div>
                </a>
              </li>
              <li class="news-item">
                <a href="news_view.html">
                  <i></i>
                  <span>BEST INTELLIGENT FIGURES 2021</span>
                </a>
                <a href="news_view.html" class="news-title-item">
                  <div class="title-box">
                    <div class="cn-title">最优消费者选择奖</div>
                    <div class="en-title">NEW CONCEPT EDUCARE SDN. BHD MALAYSIA CONSUMER'S CHOICE AWARDS</div>
                  </div>
                  <div class="cont">
                    奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，
                  </div>
              </a>
              </li>
              <li class="news-item">
                <a href="news_view.html">
                  <i></i>
                  <span>TOP 500 CONSUMER CERTIFICATION TRUSTY BRAND AWARD</span>
                </a>
                 <a href="news_view.html" class="news-title-item">
                    <div class="title-box">
                      <div class="cn-title">最优消费者选择奖</div>
                      <div class="en-title">NEW CONCEPT EDUCARE SDN. BHD MALAYSIA CONSUMER'S CHOICE AWARDS</div>
                    </div>
                    <div class="cont">
                      奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，
                    </div>
                </a>
              </li>
              <li class="news-item">
                <a href="news_view.html">
                  <i></i>
                  <span>TOP 500 CONSUMER CERTIFICATION TRUSTY BRAND AWARD</span>
                </a>
                 <a href="news_view.html" class="news-title-item">
                    <div class="title-box">
                      <div class="cn-title">最优消费者选择奖</div>
                      <div class="en-title">NEW CONCEPT EDUCARE SDN. BHD MALAYSIA CONSUMER'S CHOICE AWARDS</div>
                    </div>
                    <div class="cont">
                      奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，
                    </div>
                </a>
              </li>
              <li class="news-item">
                <a href="news_view.html">
                  <i></i>
                  <span>TOP 500 CONSUMER CERTIFICATION TRUSTY BRAND AWARD</span>
                </a>
                 <a href="news_view.html" class="news-title-item">
                    <div class="title-box">
                      <div class="cn-title">最优消费者选择奖</div>
                      <div class="en-title">NEW CONCEPT EDUCARE SDN. BHD MALAYSIA CONSUMER'S CHOICE AWARDS</div>
                    </div>
                    <div class="cont">
                      奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，奖项的具体内容介绍，
                    </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="right-layout">
            <div class="award-img-swiper swiper-container">
              <ul class="award-img-list swiper-wrapper">
                <li class="award-img-item swiper-slide swiper-no-swiping">
                  <a href="news_view.html">
                    <img src="/public/home/award-1.jpg">
                  </a>
                </li>
                <li class="award-img-item swiper-slide swiper-no-swiping">
                  <a href="news_view.html">
                    <img src="/public/home/award-1.jpg">
                  </a>
                </li>
                <li class="award-img-item swiper-slide swiper-no-swiping">
                  <a href="news_view.html">
                    <img src="/public/home/award-1.jpg">
                  </a>
                </li>
                <li class="award-img-item swiper-slide swiper-no-swiping">
                  <a href="news_view.html">
                    <img src="/public/home/award-1.jpg">
                  </a>
                </li>
                <li class="award-img-item swiper-slide swiper-no-swiping">
                  <a href="news_view.html">
                    <img src="/public/home/award-1.jpg">
                  </a>
                </li>
                <li class="award-img-item swiper-slide swiper-no-swiping">
                  <a href="news_view.html">
                    <img src="/public/home/award-1.jpg">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="news-container module" style="background-image: url(/public/home/bg-news.jpg);">
      <div class="title-module">
        <div class="cn-title">
          睿信<span>新闻</span>
        </div>
        <div class="en-title">RISING News</div>
      </div>
      <div class="news-content max-center">
        <div class="news-swiper swiper-container">
          <ul class="news-list swiper-wrapper">
            <li class="news-item swiper-slide">
              <div class="title-box">
                <div class="title">集团新闻、我明天整理一下,集团新闻、我明天整理一下</div>
                <img src="/public/home/news-1.png">
              </div>
              <div class="cont-box">
                <div class="date">2022.02.22</div>
                <div class="text">
                  10年扬帆出海，我们本着坚定的精神意志，在嘈杂无序的社会里寻找着自身的价值
                </div>
                <a href="news_view.html" class="more">
                  <i class="iconfont icon-arrow-right"></i>
                </a>
              </div>
            </li>
            <li class="news-item swiper-slide">
              <div class="title-box">
                <div class="title">集团新闻、我明天整理一下,集团新闻、我明天整理一下</div>
                <img src="/public/home/news-1.png">
              </div>
              <div class="cont-box">
                <div class="date">2022.02.22</div>
                <div class="text">
                  10年扬帆出海，我们本着坚定的精神意志，在嘈杂无序的社会里寻找着自身的价值
                </div>
                <a href="news_view.html" class="more">
                  <i class="iconfont icon-arrow-right"></i>
                </a>
              </div>
            </li>
            <li class="news-item swiper-slide">
              <div class="title-box">
                <div class="title">集团新闻、我明天整理一下,集团新闻、我明天整理一下</div>
                <img src="/public/home/news-1.png">
              </div>
              <div class="cont-box">
                <div class="date">2022.02.22</div>
                <div class="text">
                  10年扬帆出海，我们本着坚定的精神意志，在嘈杂无序的社会里寻找着自身的价值
                </div>
                <a href="news_view.html" class="more">
                  <i class="iconfont icon-arrow-right"></i>
                </a>
              </div>
            </li>
            <li class="news-item swiper-slide">
              <div class="title-box">
                <div class="title">集团新闻、我明天整理一下,集团新闻、我明天整理一下</div>
                <img src="/public/home/news-1.png">
              </div>
              <div class="cont-box">
                <div class="date">2022.02.22</div>
                <div class="text">
                  10年扬帆出海，我们本着坚定的精神意志，在嘈杂无序的社会里寻找着自身的价值
                </div>
                <a href="news_view.html" class="more">
                  <i class="iconfont icon-arrow-right"></i>
                </a>
              </div>
            </li>
            <li class="news-item swiper-slide">
              <div class="title-box">
                <div class="title">集团新闻、我明天整理一下,集团新闻、我明天整理一下</div>
                <img src="/public/home/news-1.png">
              </div>
              <div class="cont-box">
                <div class="date">2022.02.22</div>
                <div class="text">
                  10年扬帆出海，我们本着坚定的精神意志，在嘈杂无序的社会里寻找着自身的价值
                </div>
                <a href="news_view.html" class="more">
                  <i class="iconfont icon-arrow-right"></i>
                </a>
              </div>
            </li>
            <li class="news-item swiper-slide">
              <div class="title-box">
                <div class="title">集团新闻、我明天整理一下,集团新闻、我明天整理一下</div>
                <img src="/public/home/news-1.png">
              </div>
              <div class="cont-box">
                <div class="date">2022.02.22</div>
                <div class="text">
                  10年扬帆出海，我们本着坚定的精神意志，在嘈杂无序的社会里寻找着自身的价值
                </div>
                <a href="news_view.html" class="more">
                  <i class="iconfont icon-arrow-right"></i>
                </a>
              </div>
            </li>
            <li class="news-item swiper-slide">
              <div class="title-box">
                <div class="title">集团新闻、我明天整理一下,集团新闻、我明天整理一下</div>
                <img src="/public/home/news-1.png">
              </div>
              <div class="cont-box">
                <div class="date">2022.02.22</div>
                <div class="text">
                  10年扬帆出海，我们本着坚定的精神意志，在嘈杂无序的社会里寻找着自身的价值
                </div>
                <a href="news_view.html" class="more">
                  <i class="iconfont icon-arrow-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="news-button-prev swiper-button-prev"></div>
        <div class="news-button-next swiper-button-next"></div>
      </div>
    </section>
    <section class="partner-container module">
      <div class="title-module">
        <div class="cn-title">
          睿信<span>合作</span>
        </div>
        <div class="en-title">RISING Partner</div>
        <div class="bg-text">Partner</div>
      </div>
      <div class="partner-box">
        <div class="partner-swiper swiper-container">
          <ul class="partner-list swiper-wrapper">
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
            <li class="partner-item swiper-slide">
              <a>
                <div class="img">
                  <img src="/public/home/partner.png">
                </div>
                <p>合作伙伴名字</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="partner-button-prev swiper-button-prev"></div>
        <div class="partner-button-next swiper-button-next"></div>
      </div>
    </section>
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>