<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <!-- 引入banner -->
    <%= require("html-loader!../common/banner/index.html") %>
      <section class="study-container">
        <ul class="study-list max-center">
          <li class="study-item">
            <div class="text">
              <div class="title-box">
                <div class="cn-title">
                  <span>睿信</span>教育
                </div>
                <div class="en-title">Study Abroad</div>
                <div class="bg-text">Study Abroad</div>
              </div>
              <div class="cont">
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
              </div>
              <a href="business_view.html" class="more">
                <i class="iconfont icon-arrow-right"></i>
              </a>
            </div>
            <div class="img">
              <img src="/public/business/business-1.jpg" alt="睿信教育">
            </div>
          </li>
          <li class="study-item">
            <div class="text">
              <div class="title-box">
                <div class="cn-title">
                  <span>睿信</span>移民
                </div>
                <div class="en-title">Study Abroad</div>
                <div class="bg-text">Immigrant</div>
              </div>
              <div class="cont">
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
              </div>
              <a href="business_view.html" class="more">
                <i class="iconfont icon-arrow-right"></i>
              </a>
            </div>
            <div class="img">
              <img src="/public/business/business-2.jpg" alt="睿信移民">
            </div>
          </li>
          <li class="study-item">
            <div class="text">
              <div class="title-box">
                <div class="cn-title">
                  <span>睿信</span>餐饮
                </div>
                <div class="en-title">Study Abroad</div>
                <div class="bg-text">Catering</div>
              </div>
              <div class="cont">
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
              </div>
              <a href="business_view.html" class="more">
                <i class="iconfont icon-arrow-right"></i>
              </a>
            </div>
            <div class="img">
              <img src="/public/business/business-3.jpg" alt="睿信餐饮">
            </div>
          </li>
          <li class="study-item">
            <div class="text">
              <div class="title-box">
                <div class="cn-title">
                  <span>睿信</span>科技
                </div>
                <div class="en-title">Study Abroad</div>
                <div class="bg-text">Technology</div>
              </div>
              <div class="cont">
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
              </div>
              <a href="business_view.html" class="more">
                <i class="iconfont icon-arrow-right"></i>
              </a>
            </div>
            <div class="img">
              <img src="/public/business/business-4.jpg" alt="睿信科技">
            </div>
          </li>
          <li class="study-item">
            <div class="text">
              <div class="title-box">
                <div class="cn-title">
                  <span>睿信</span>投资
                </div>
                <div class="en-title">Study Abroad</div>
                <div class="bg-text">Investment</div>
              </div>
              <div class="cont">
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
              </div>
              <a href="business_view.html" class="more">
                <i class="iconfont icon-arrow-right"></i>
              </a>
            </div>
            <div class="img">
              <img src="/public/business/business-4.jpg" alt="睿信投资">
            </div>
          </li>
        </ul>
      </section>
      <!-- 引入公共页尾 -->
      <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>